.popup_modals {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #f5f5f5;
    color: black;
    transition: opacity 0.15s, transform 0.3s;
}

.popup_modals.modal_small {
    width: 400px;
}

.popup_modals.modal_medium {
    width: 500px;
}

.popup_modals.modal_large {
    width: 600px;
}

.popup_modals.fade {
    opacity: 0;
}

.popup_modals.top {
    transform: translate(0, -25%);
}

.popup_modals.bottom {
    transform: translate(0, 25%);
}

.popup_modals.right {
    transform: translate(25%, 0);
}

.popup_modals.left {
    transform: translate(-25%, 0);
}

.popup_modals.in {
    opacity: 1;
    transform: translate(0, 0);
}

.popup_modals .modal_content {
    padding: 20px 20px 0;
}

.popup_modals .modal_content .modal_input {
    margin-top: 10px;
    padding: 7px 10px;
    border: 1px solid #d2dee2;
    box-sizing: border-box;
}

.popup_modals .modal_buttons {
    padding: 20px;
}

.popup_modals .modal_buttons.right {
    text-align: right;
}

.popup_modals .modal_buttons.right .btn {
    margin-left: 5px;
}

.popup_modals .modal_buttons.left {
    text-align: right;
}

.popup_modals .modal_buttons.left .btn {
    margin-right: 5px;
}

.popup_modals .modal_buttons .btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    font-size: 12px;
}

.popup_modals .modal_buttons .btn.btn_pmry {
    background-color: #7f8c8d;
}

.popup_modals .modal_buttons .btn.btn_sdry {
    background-color: #7f8c8d;
}

.popup_modals .modal_buttons .btn.btn_extra {
    background-color: #7f8c8d;
}

.popup_modals .modal_buttons .btn:hover {
    cursor: pointer;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.15s;
}

.modal_backdrop.fade {
    opacity: 0;
}

.modal_backdrop.in {
    opacity: 0.75;
}
