body {
    margin: 0;
    background: #f1f1f1;
    min-width: 340px;
}

body.dark-theme {
    background: #202020;
    color: #cccaca;
}

.dark-theme .team, .dark-theme .action-pane, .dark-theme .words, .dark-theme .host-controls, .dark-theme .spectators {
    background: rgb(64, 64, 63);
}

.dark-theme .team.current {
    box-shadow: 0 2px 14px rgba(169, 169, 169, 0.3);
}

.dark-theme .word {
    border-bottom: 1px solid #6b6b6b;
}

.dark-theme .button-action {
    background: rgb(79, 109, 109);
}

.dark-theme .word input {
    color: #e6e6e6;
    background: rgb(116, 119, 119);
}

.dark-theme .word input.positive {
    background: rgb(79, 109, 109);
}

.dark-theme .word input.negative {
    background: #947676;
}

.dark-theme .button-action.pressed {
    box-shadow: 0 1px 11px 4px #007d80 inset;
}

.dark-theme .player.ready {
    background: #4c6463;
}

.dark-theme .team.goal-reached {
    box-shadow: 0 6px 14px rgba(255, 145, 0, 0.3);
}

.dark-theme .team.winner {
    box-shadow: 0 6px 14px rgb(179, 228, 142);
}

.score {
    display: none;
    font-size: 12px;
    text-align: right;
    margin-bottom: 5px;
}

.team-list.started .score {
    display: block;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team {
    width: 130px;
    height: 130px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background: white;
    user-select: none;
    text-align: left;
}

.team-list.started .team {
    cursor: default;
}

.team.join:after {
    content: '+';
    font-size: 50px;
    text-align: center;
    color: #bdb9b9;
    width: 100%;
    display: block;
    height: 100%;
    margin-top: 36px;
}

.team.current {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    margin-top: 6px;
}

.game-over .team.current {
    margin-top: 10px;
}

.team.goal-reached {
    box-shadow: 0 6px 14px rgba(255, 145, 0, 0.3);
}

.team.winner {
    box-shadow: 0 6px 14px rgb(179, 228, 142);
}

.player {
    margin-bottom: 3px;
    min-height: 18px;
    transition: margin-left 0.5s ease-out;
}

.player.highlight-anim {
    margin-left: 3px;
    transition: none;
}

.player.self {
    font-weight: bold;
}

.player.ready {
    background: #e2f0c4;
}

.player.current:before {
    content: "➜ ";
    line-height: 0;
}

.player.assistant:after {
    content: "➜";
    line-height: 0;
    display: inline-block;
    transform: scaleX(-1);
    margin-left: 4px;
}

.player.offline {
    color: #adadad;
}

.spectators {
    display: inline-block;
    height: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background: white;
    user-select: none;
}

.spectators.started {
    cursor: default;
}

.spectators:empty:after {
    content: "...";
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
}

.spectators-section {
    display: none;
}

.spectators-section.active {
    display: block;
}

.control-pane {
    bottom: 0;
    width: 100%;
    text-align: center;
}

.action-pane {
    display: inline-block;
    background: white;
    padding: 10px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
}

.button-action {
    font-size: 50px;
    background: #9CCC65;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    margin: 8px;
    display: none;
    user-select: none;
}

.button-action.active {
    display: block;
}

.game-board {
    text-align: center;
    display: none;
}

.game-board.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.words {
    background: white;
    display: inline-block;
    font-size: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding-bottom: 53px;
    margin-bottom: -41px;
}

.words.counting input {
    display: inline-block;
}

.word {
    width: 234px;
    border-bottom: 1px solid gainsboro;
    padding: 3px 0;
    position: relative;
}

.word input {
    display: none;
    width: 47px;
    float: right;
    font-size: 24px;
    border: none;
    margin: 3px 0;
    padding: 0 4px;
    background: #e5e5e5;
    position: absolute;
    right: 0;
    top: 4px;
    opacity: 0.8;
}

.word input:hover {
    opacity: 1;
}

.word input.positive {
    background: #ddedbc;
}

.word input.negative {
    background: #e1a5a5;
}

.words-bet-input {
    border: none;
    background: #eeecec;
    padding: 3px;
    margin: -3px 2px;
    width: 35px;
    font-size: 18px;
    display: none;
}

.words-bet-label {
    display: none;
}

.words-bet-input.active {
    display: inline;
}

.words-bet-label.active {
    display: inline;
}

.status-text {
    font-size: 18px;
}

.button-action.pressed {
    box-shadow: 0 1px 7px 1px green inset;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    user-select: none;
    cursor: default;
    text-align: right;
}

.host-controls-menu {
    display: none;
}

.host-controls:hover .host-controls-menu, .host-controls:focus .host-controls-menu {
    display: block;
}

.word-points {
    display: none;
    margin-left: 2px;
}

.word-points.active {
    display: inline;
}

.word-points.positive {
    color: green;
}

.word-points.positive:before {
    content: "+";
}

.word-points.negative {
    color: red;
}

.word-points.negative:before {
    content: "−";
}

.timer {
    font-size: 39px;
    margin-bottom: 4px;
}

.dict-progress {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: #e3f0c9;
}

.dict-progress.active {
    display: block;
}

.dict-progress-bar {
    height: 100%;
    background: #9ccc65;
}

.player-host-controls {
    margin-left: 5px;
    display: none;
}

.player:hover .player-host-controls, .player:focus .player-host-controls {
    display: inline-block;
}

.host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: text-top;
}

.host-button {
    opacity: 0.4;
}

.host-button:hover {
    opacity: 1;
}

.captcha-solved #captcha-container {
    display: none;
}

.little-controls input {
    width: 39px;
    background: transparent;
    border: 1px solid;
    color: #cccaca;
    padding: 2px;
    margin: 3px;
}

.start-game-buttons div {
    display: inline-block;
    padding: 17px 13px;
}

.little-controls div {
    display: inline-block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #9ccc65;
}

.dark-theme .settings-button:hover {
    background: rgb(79, 109, 109);
}

.level-selected {
    background: #eaffcf;
}

.dark-theme .level-selected {
    background: rgba(76, 134, 134, 0.45);
}

.little-controls input {
    color: black;
}

.dark-theme .little-controls input {
    color: #cccaca;
}

.dark-theme .word-add-pack-name {
    color: #cccaca;
}

.dark-theme .word-add-textarea {
    color: #cccaca;
    background: #2d2d2d;
}

.start-game-buttons i, .custom-game-button i {
    vertical-align: bottom;
    margin-right: 3px;
}

.little-controls i {
    vertical-align: middle;
    margin-right: 2px;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons, .host-controls:focus .side-buttons {
    display: inline-block;
}

.start-game-title {
    text-align: center;
    padding: 7px;
    border-top: 1px solid;
    margin-top: 4px;
    padding-bottom: 3px;
}

.custom-game-button {
    text-align: left;
    padding-bottom: 4px;
    padding-left: 13px;
    width: 91px;
    margin-bottom: -14px;
}

.little-controls {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 6px;
}

.shuffle-players {
    float: right;
    margin-top: 2px;
    padding-left: 5px;
}

.side-buttons * {
    margin-right: 2px;
}

.game-settings .value {
    vertical-align: middle;
    padding: 4px;
    padding-right: 5px;
}

.change-score {
    margin-top: -2px;
    margin-right: 3px;
    display: none;
}

.change-player-score {
    display: none;
}

.score:hover .change-score, .score:focus .change-score, .player-score:hover .change-player-score, .player-score:focus .change-player-score {
    display: inline-block;
}

.dark-theme .player.offline {
    color: #787878;
}

.report-word-menu {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.word:hover .report-word-menu, .word:focus .report-word-menu {
    display: block;
}

.word.reported .report-word-menu {
    display: block;
}

.report-word-menu i {
    font-size: 17px;
    vertical-align: text-bottom;
}

.report-word-menu > i {
    padding: 2px;
    opacity: 0.6;
    margin-top: 9px;
    margin-left: 3px;
}

.report-word-menu:hover > i, .report-word-menu:focus > i {
    opacity: 1;
}

.word.reported .report-word-menu > i {
    color: #d43c3c;
    opacity: 1;
}

.report-word-list {
    display: none;
    font-size: 12px;
    position: absolute;
    right: 17px;
    width: 75px;
    background: white;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    padding: 2px;
    padding-right: 4px;
    text-align: right;
}

.dark-theme .report-word-list {
    background: #40403f;
}

.report-word-menu:hover .report-word-list, .report-word-menu:focus .report-word-list {
    display: block;
}

.popup_modals .modal_buttons .btn.btn_sdry {
    background-color: #ababab !important;
}

.popup_modals .modal_buttons .btn.btn_pmry {
    background-color: #9CCC65 !important;
}

.dark-theme .popup_modals .modal_buttons .btn.btn_pmry {
    background-color: rgb(79, 109, 109) !important;
}

.popup_modals {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
}

.word-report-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000057;
    z-index: 2;
}

.word-report-modal-bg {
    background: black;
}

.word-report-modal-content {
    background: white;
    margin: 0 auto;
    max-width: 620px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
}

.dark-theme .word-report-modal-content {
    background: #40403f;
}

.word-report-title {
    font-size: 20px;
    padding: 8px 13px;
    text-align: left;
    position: relative;
}

.word-report-modal-close {
    position: absolute;
    right: 9px;
    top: 5px;
    user-select: none;
    cursor: pointer;
}

.word-report-save-button {
    display: inline-block;
    padding: 1px 4px;
    background: #b2e675;
    margin: 5px;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.dark-theme .word-report-save-button {
    background: rgb(79, 109, 109);
}

.word-report-manage-buttons input {
    border: 1px solid #cccaca;
    padding: 2px;
    vertical-align: baseline;
}

.dark-theme .word-report-manage-buttons input {
    color: #cccaca;
    background: transparent;
}

.word-report-manage-buttons {
    text-align: right;
}

.word-report-list {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 100px);
    background: #dedede;
    border: 1px solid gainsboro;
    box-sizing: border-box;
}

.dark-theme .word-report-list {
    background: #202020;
}

.word-report-item > * {
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    text-align: left;
}

.word-report-item:nth-child(even) {
    background: #ffffff;
}

.word-report-item:nth-child(odd) {
    background: #f3f3f3;
}

.dark-theme .word-report-item:nth-child(even) {
    background: #5a5a5a;
}

.dark-theme .word-report-item:nth-child(odd) {
    background: #505050;
}

.word-report-item-date {
    width: 156px;
}

.word-report-item-status {
    width: 80px;
}

.word-report-item-transfer {
    width: 107px;
    min-width: 115px;
}

.word-report-item-name {
    width: 180px;
    padding-left: 10px;
    word-break: break-word;
}

.word-report-item-word {
    width: 203px;
}

.word-report-manage-buttons {
    padding: 8px;
}

.word-report-item-status .approved {
    background: #49d2493d;
    padding: 0 8px;
}

.word-report-item-status .denied {
    background: #f3306b38;
    padding: 0 8px;
}

.word-report-no-data {
    padding: 14px;
    opacity: 0.6;
}

.word-report-approve-controls input {
    display: none;
}

.word-report-approve {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    width: 22px;
    text-align: center;
    margin-right: 5px;
}

input:checked + .word-report-approve.no {
    background: #f3306b38;
}

input:checked + .word-report-approve.yes {
    background: #49d2493d;
}

.word-report-modal-stats {
    font-size: 16px;
    display: inline-block;
    margin-left: 15px;
}

.word-report-stat-num {
    background: #f3f3f3;
    margin: 0 7px;
    padding: 1px 4px;
}

.dark-theme .word-report-stat-num {
    background: #5a5a5a;
}

.host-button.inactive {
    cursor: default;
    opacity: 1;
}

#snackbar {
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;;
    top: 0;
    right: 30px;
    font-size: 18px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s;
}

#snackbar.show, #snackbar.pinned {
    top: 30px;
    opacity: 1;
}

.word-report-notify {
    font-size: 15px;
}

.word-report-notify-transfer {
    font-size: 12px;
    color: #9e9e9e;
}

.word-report-notify-list {
    font-size: 16px;
    margin: 6px 0;
}

.pin-notification-button {
    cursor: pointer;
    font-size: 18px;
    margin-left: 3px;
    vertical-align: text-bottom;
    opacity: 0.7;
}

#snackbar.pinned .pin-notification-button {
    opacity: 1;
}

.word-report-show-all {
    cursor: pointer;
    padding: 4px;
}

.word-report-save-button.inactive {
    color: #8e8e8e;
}

.word-report-modal-content.add {
    max-width: 300px;
}

.word-add-textarea {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    height: 40%;
    white-space: nowrap;
    resize: none;
}

.word-add-count {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.word-add-count.overflow {
    color: #f3306b;
}

.word-add-level-select {
    vertical-align: middle;
    text-align: center;
}

.word-add-level-select > span {
    padding: 2px 4px;
}

.word-report-item > div {
    vertical-align: top;
}

@-moz-document url-prefix() {
    .word-report-list {
        height: 88%;
    }
}

#draw-pane {
    width: 320px;
    height: 320px;
    min-width: 320px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-bottom: 14px;
    background: white;
}

.dark-theme #draw-pane {
    background: rgb(64, 64, 63);
}

.button-clear-draw {
    z-index: 105;
    cursor: pointer;
    user-select: none;
    float: right;
    position: relative;
    display: none;
}

.button-clear-draw.active {
    display: block;
}

.draw-mode-buttons > div {
    display: inline-block;
    padding: 3px 57px;
}

.draw-mode-buttons i {
    vertical-align: bottom;
    margin-right: 3px;
    margin-bottom: -2px;
}

.draw-mode-buttons {
    border-bottom: 1px solid gainsboro;
}

.draw-mode-buttons {
    display: none;
}

.team-mode {
    margin: 3px;
    padding: 0 2px;
}

.solo-mode .team {
    height: auto;
    min-height: 130px;
}

.solo-mode .team.join {
    height: 130px;
}

.player-score {
    font-weight: normal;
}

.word-add-pack-name {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #cacaca;
    background: transparent;
}

.custom-view-link {
    text-decoration: underline;
    cursor: pointer;
}

.custom-packs {
    display: flex;
    height: 400px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}


.dark-theme .custom-packs {
    border-top: 1px solid #828282;
    border-bottom: 1px solid #828282;
}

.custom-pack-list {
    width: 200px;
    text-align: left;
    overflow: auto;
}

.custom-pack-pane {
    width: 420px;
    border-left: 1px solid gainsboro;
    background: #f1f1f1;
    box-shadow: inset 0 0 4px -2px black;
}

.dark-theme .custom-pack-pane {
    background: #2d2d2d;
    border-left: 1px solid #828282;
}

.custom-pack-list-item {
    padding: 6px 14px;
    cursor: pointer;
}

.custom-pack-list-item:nth-child(odd) {
    background: #f3f3f3;
}

.dark-theme .custom-pack-list-item:nth-child(even) {
    background: #ffffff;
}

.dark-theme .custom-pack-list-item:nth-child(odd) {
    background: #5a5a5a;
}

.dark-theme .custom-pack-list-item:nth-child(even) {
    background: #505050;
}

.custom-pack-list-item.selected {
    background: #b2e67563;
}

.custom-pack-list-item:hover {
    background: #b2e67596;
}

.dark-theme .custom-pack-list-item.selected {
    background: rgba(79, 109, 109, 0.85);
}

.dark-theme .custom-pack-list-item:hover {
    background: rgb(79, 109, 109);
}

.word-report-modal.custom .word-report-modal-stats {
    margin-right: 17px;
    margin-top: 2px;
    float: right;
}

.custom-word-textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    white-space: nowrap;
    resize: none;
    height: 100%;
}

.custom-pack-word-list {
    text-align: left;
    padding: 7px 12px;
    overflow: auto;
    height: calc(100% - 4px);
    box-sizing: border-box;
    margin: 2px;
}

.custom-game-button.has-pack-name {
    margin-bottom: 8px;
    width: auto;
}

.custom-words-pack-name {
    width: 250px;
    padding: 5px 10px;
    border: 1px solid #cacaca;
    background: transparent;
    margin: -5px;
    margin-left: 30px;
    margin-top: -3px;
    vertical-align: top;
}

.history-button, .remove-user-reports {
    font-size: 18px;
    vertical-align: bottom;
    color: grey;
    cursor: pointer;
    user-select: none;
}

.remove-user-reports {
    display: none;
}

.word-report-item-name:hover .remove-user-reports {
    display: inline-block;
}

.word-history {
    display: block;
    width: 400px;
    margin: auto;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 20px -4px black;
    padding: 6px;
    background: white;
    left: 180px;
}

.dark-theme .word-history {
    background: #40403f;
}

.word-report-item {
    position: relative;
}

.teams-pane {
    margin: 20px;
}

.kicked {
    margin: 20px;
}

.player-circle {
    width: 9px;
    height: 9px;
    display: inline-block;
    background: gray;
    border-radius: 25px;
    margin-right: 6px;
    background: #6d9342;
}

.player.offline .player-circle {
    background: #a4a99d;
}

.panel {
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.dark-theme .panel {
    background: rgb(64, 64, 63);
}

.panel-accent {
    background: #9CCC65;
}

.dark-theme .panel-accent {
    background: rgb(79, 109, 109);
}

.text-color {
    color: black;
}

.dark-theme .text-color {
    color: #cccaca;
}

a {
    color: black;
}

.dark-theme a {
    color: #cccaca;
}

.player-circle.speaking {
    box-shadow: 0 0 0 3px #9ccc65;
}

.dark-theme .player-circle.speaking {
    box-shadow: 0 0 0 3px #8ca263;
}

.watermark {
    top: 50%;
    left: 0;
    right: 0;
    opacity: 0.3;
    font-size: 80px;
}

.word-report-allow-report {
    float: left;
    margin-top: 6px;
    cursor: pointer;
}
