body {
    margin: 20px;
    background: #f1f1f1;
}

body.dark-theme {
    background: #202020;
    color: #cccaca;
}

.dark-theme .team, .dark-theme .action-pane, .dark-theme .words, .dark-theme .host-controls, .dark-theme .spectators {
    background: rgb(64, 64, 63);
}

.dark-theme .team.current {
    box-shadow: 0 2px 14px rgba(169, 169, 169, 0.3);
}

.dark-theme .word {
    border-bottom: 1px solid #6b6b6b;
}

.dark-theme .button-action {
    background: rgb(79, 109, 109);
}

.dark-theme .word input {
    color: #e6e6e6;
    background: rgb(116, 119, 119);
}

.dark-theme .word input.positive {
    background: rgb(79, 109, 109);
}

.dark-theme .word input.negative {
    background: #947676;
}

.dark-theme .button-action.pressed {
    box-shadow: 0 1px 11px 4px #007d80 inset;
}

.dark-theme .player.ready {
    background: #4c6463;
}

.dark-theme .team.goal-reached {
    box-shadow: 0 6px 14px rgba(255, 145, 0, 0.3);
}

.dark-theme .team.winner {
    box-shadow: 0 6px 14px rgb(179, 228, 142);
}

.score {
    display: none;
    font-size: 12px;
    text-align: right;
    margin-bottom: 5px;
}

.team-list.started .score {
    display: block;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team-list {
    display: flex;
    flex-direction: row;
}

.team {
    width: 130px;
    height: 130px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background: white;
    user-select: none;
    text-align: left;
}

.team-list.started .team {
    cursor: default;
}

.team.join:after {
    content: '+';
    font-size: 50px;
    text-align: center;
    color: #bdb9b9;
    width: 100%;
    display: block;
    height: 100%;
    margin-top: 36px;
}

.team.current {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    margin-top: 6px;
}

.game-over .team.current {
    margin-top: 10px;
}

.team.goal-reached {
    box-shadow: 0 6px 14px rgba(255, 145, 0, 0.3);
}

.team.winner {
    box-shadow: 0 6px 14px rgb(179, 228, 142);
}

.player {
    margin-bottom: 3px;
}

.player.self {
    font-weight: bold;
}

.player.ready {
    background: #e2f0c4;
}

.player.current:before {
    content: "➜ ";
    line-height: 0;
}

.player.offline {
    color: #adadad;
}

.spectators {
    display: inline-block;
    height: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background: white;
    user-select: none;
}

.spectators.started {
    cursor: default;
}

.spectators:empty:after {
    content: "...";
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
}

.spectators-section {
    display: none;
}

.spectators-section.active {
    display: block;
}

.control-pane {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.action-pane {
    display: inline-block;
    background: white;
    padding: 10px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
}

.button-action {
    font-size: 50px;
    background: #9CCC65;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    margin: 8px;
    display: none;
    user-select: none;
}

.button-action.active {
    display: block;
}

.game-board {
    text-align: center;
    display: none;
}

.game-board.active {
    display: block;
}

.words {
    background: white;
    display: inline-block;
    font-size: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding-bottom: 53px;
    margin-bottom: -41px;
}

.words.counting input {
    display: inline-block;
}

.word {
    width: 234px;
    border-bottom: 1px solid gainsboro;
    padding: 3px 0;
    position: relative;
}

.word input {
    display: none;
    width: 47px;
    float: right;
    font-size: 24px;
    border: none;
    margin: 3px 0;
    padding: 0 4px;
    background: #e5e5e5;
    position: absolute;
    right: 0;
    top: 4px;
    opacity: 0.8;
}

.word input:hover {
    opacity: 1;
}

.word input.positive {
    background: #ddedbc;
}

.word input.negative {
    background: #e1a5a5;
}

.words-bet-input {
    border: none;
    background: #eeecec;
    padding: 3px;
    margin: -3px 2px;
    width: 35px;
    font-size: 18px;
    display: none;
}

.words-bet-label {
    display: none;
}

.words-bet-input.active {
    display: inline;
}

.words-bet-label.active {
    display: inline;
}

.status-text {
    font-size: 18px;
}

.button-action.pressed {
    box-shadow: 0 1px 7px 1px green inset;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    user-select: none;
    cursor: default;
    text-align: right;
}

.host-controls-menu {
    display: none;
}

.host-controls:hover .host-controls-menu {
    display: block;
}

.word-points {
    display: none;
    margin-left: 2px;
}

.word-points.active {
    display: inline;
}

.word-points.positive {
    color: green;
}

.word-points.positive:before {
    content: "+";
}

.word-points.negative {
    color: red;
}

.word-points.negative:before {
    content: "−";
}

.timer {
    font-size: 39px;
    margin-bottom: 4px;
}

.dict-progress {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: #e3f0c9;
}

.dict-progress.active {
    display: block;
}

.dict-progress-bar {
    height: 100%;
    background: #9ccc65;
}

.player-host-controls {
    margin-left: 5px;
    display: none;
}

.player:hover .player-host-controls {
    display: inline-block;
}

.host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: text-top;
}

.host-button {
    opacity: 0.4;
}

.host-button:hover {
    opacity: 1;
}

.captcha-solved #captcha-container {
    display: none;
}

.little-controls input {
    width: 39px;
    background: transparent;
    border: 1px solid;
    color: #cccaca;
    padding: 2px;
    margin: 3px;
}

.start-game-buttons div {
    display: inline-block;
    padding: 17px;
}

.little-controls div {
    display: inline-block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #9ccc65;
}

.dark-theme .settings-button:hover {
    background: rgb(79, 109, 109);
}

.level-selected {
    background: #eaffcf;
}

.dark-theme .level-selected {
    background: rgba(76, 134, 134, 0.45);
}

.little-controls input {
    color: black;
}

.dark-theme .little-controls input {
    color: #cccaca;
}

.start-game-buttons i, .custom-game-button i {
    vertical-align: bottom;
    margin-right: 3px;
}

.little-controls i {
    vertical-align: middle;
    margin-right: 2px;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons {
    display: inline-block;
}

.start-game-title {
    text-align: center;
    padding: 7px;
    border-top: 1px solid;
    margin-top: 4px;
    padding-bottom: 3px;
}

.custom-game-button {
    text-align: left;
    padding-bottom: 4px;
    padding-left: 13px;
    width: 91px;
    margin-bottom: -14px;
}

.little-controls {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 6px;
}

.shuffle-players {
    float: right;
    margin-top: 2px;
    padding-left: 5px;
}

.side-buttons * {
    margin-right: 2px;
}

.game-settings .value {
    vertical-align: middle;
    padding: 4px;
    padding-right: 5px;
}

.change-score {
    margin-top: -2px;
    margin-right: 3px;
    display: none;
}

.change-score {
    margin-top: -2px;
    margin-left: 3px;
    display: none;
}

.score:hover .change-score {
    display: inline-block;
}